@use "../utilities/" as *;

#main-ctn {
	display: flex;
	flex-direction: column;
	gap: rem(10);
	width: rem(300);
	background-color: navy;
	padding: rem(25);
	color: white;
	text-align: center;
	border-radius: rem(10);

	h2 {
		font-size: rem(16);
	}

	p {
		font-size: rem(16);
	}

	#condition-ctn {
		display: flex;
		justify-content: center;
	}

	#temperature {
		font-size: rem(36);
	}
}
