// Primary Colors
$clr-primary: hsl(214, 100%, 50%);
$clr-secondary: hsl(51, 100%, 53%);
$clr-tertiary: hsl(198, 100%, 78%);

// Neutral Colors
$clr-white: hsl(0, 0%, 100%);
$clr-gray-lt: hsl(0, 0%, 85%);
$clr-gray: hsl(0, 0%, 50%);
$clr-gray-dk: hsl(0, 0%, 15%);
$clr-black: hsl(0, 0%, 0%);
